<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.css">
<app-navbar></app-navbar>
<div class="container">
    <form>
        <div>
            <img id="gatopreview" src="" class="text-center img-thumbnail" style="max-width: 350px;">
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="handleFileInput($event.target.files)" accept="image/x-png,image/gif,image/jpeg" >
          </div>
        <div class="form-group row">
          <label for="nomGato" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="nomGato" placeholder="Nombre gato" [(ngModel)]="datosGato.nombreGato" name="nombreGato">
          </div>
        </div>
        <div class="form-group row">
          <label for="coloniaGato" class="col-sm-2 col-form-label">Colonia en la que se encuentra</label>
          <div class="col-sm-10">
            <select [(ngModel)]="datosGato.idColonia" name="coloniaGato" id="coloniaGato" class="custom-select">
              <option *ngFor="let colonia of listaColonias" [ngValue]="colonia.idColonia">
                   {{colonia.nombreColonia}}
               </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="esterilizacionGato" class="col-sm-2 col-form-label">Esterilizado</label>
          <div class="col-sm-10">
            <bSwitch
              id="esterilizacionGato"
              name="idEsterilizacion" 
              [switch-off-text]="offText"
              [switch-on-text]="onText"
              [(ngModel)]="esterilizado"
              (changeState)="onChange($event)">
            </bSwitch>
            <div [hidden]="!esterilizado">
              <div class="container">
                <div class="form-group row">
                  <label for="clinicavtn" class="col-sm-3 col-form-label">Clinica veterinaria</label>
                  <div class="col-sm-5">
                    <select [(ngModel)]="datosEsterilizacion.idCentroVeterinario" name="clinicavtn" id="clinicavtn" class="custom-select">
                      <option *ngFor="let clinicas of listaClinicaVeterinarios" [ngValue]="clinicas.idClinica">
                           {{clinicas.nombreClinica}}
                       </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="fechaEsterilizacion" class="col-sm-3 col-form-label">Fecha esterilización</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="fechaEsterilizacion" placeholder="Fecha esterilización" [(ngModel)]="datosEsterilizacion.fechaEsterilizacion" name="fechaEsterilizacion">
                  </div>
                </div>
              </div>
            </div>
           </div>
        </div>
        <div class="form-group row">
          <label for="chipGato" class="col-sm-2 col-form-label">Tiene chip</label>
          <div class="col-sm-10">
            <bSwitch
            id="chipGato"
            name="idChip" 
            [switch-off-text]="offText"
            [switch-on-text]="onText"
            [(ngModel)]="chipeado"
            (changeState)="onChange($event)">
          </bSwitch>
          <div [hidden]="!chipeado">
            <div class="container">
              <div class="form-group row">
                <label for="formchip" class="col-sm-3 col-form-label">Clinica veterinaria</label>
                <div class="col-sm-5">
                  <select [(ngModel)]="datosChip.idClinicaVeterinario" name="formchip" id="formchip" class="custom-select">
                    <option *ngFor="let clinicas of listaClinicaVeterinarios" [ngValue]="clinicas.idClinica">
                         {{clinicas.nombreClinica}}
                     </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="fechaidentificacionchip" class="col-sm-3 col-form-label">Fecha identificación chip</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="fechaidentificacionchip" placeholder="Fecha identificacion chip" [(ngModel)]="datosChip.fechaChip" name="fechaidentificacionchip">
                </div>
              </div>
              <div class="form-group row">
                <label for="numerchipid" class="col-sm-3 col-form-label">Número chip</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="numerchipid" placeholder="Número ID chip" [(ngModel)]="datosChip.numeroChip" name="numerchipid">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="idSituacion" class="col-sm-2 col-form-label">La situación del gato es:</label>
          <div class="col-sm-10">
            <select id="idSituacion" class="custom-select" [(ngModel)]="datosGato.idSituacion" name="idSituacion">
              <option *ngFor="let situaciongato of listaSituacion" [ngValue]="situaciongato.idSituacion">
                   {{situaciongato.descripcionSituacion}}
               </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="sexoGato" class="col-sm-2 col-form-label">Sexo:</label>
          <div class="col-sm-10">
            <select id="sexoGato" class="custom-select" [(ngModel)]="datosGato.idSexo" name="idSexo">
              <option *ngFor="let sexogato of listaSexo" [ngValue]="sexogato.idSexo">
                   {{sexogato.descripcionSexo}}
               </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="testGato" class="col-sm-2 col-form-label">Resultado test:</label>
          <div class="col-sm-10">
            <bSwitch
            id="testGato"
            name="testGatoResultado" 
            [switch-off-text]="offText"
            [switch-on-text]="onText"
            [(ngModel)]="gatoTestado"
            (changeState)="onChange($event)">
          </bSwitch>
          <div [hidden]="!gatoTestado">
              <div class="container">
                <div class="form-group row">
                  <label for="formchip" class="col-sm-3 col-form-label">Resultado test</label>
                  <div class="col-sm-5">
                    <select [(ngModel)]="datosTest.idResultadoTest" name="testGato" id="testGato" class="custom-select">
                      <option *ngFor="let positivo of listaPositivos" [ngValue]="positivo.idPositivo">
                           {{positivo.descripcionPositivo}}
                       </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="fechaidentificacionchip" class="col-sm-3 col-form-label">Fecha test</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="fechaidentificacionchip" placeholder="Fecha identificacion chip" [(ngModel)]="datosTest.fechaTest" name="fechaidentificacionchip">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="numerchipid" class="col-sm-3 col-form-label">Centro veterinario:</label>
                  <div class="col-sm-5">
                    <select [(ngModel)]="datosTest.idClinicaVeterinaria" name="formchip" id="formchip" class="custom-select">
                      <option *ngFor="let clinicas of listaClinicaVeterinarios" [ngValue]="clinicas.idClinica">
                           {{clinicas.nombreClinica}}
                       </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        <div class="form-group row">
          <label for="pesoGato" class="col-sm-2 col-form-label">Peso:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="pesoGato" placeholder="Colonia en la que vive el gato" [(ngModel)]="datosGato.peso" name="peso">
          </div>
        </div>
        <div class="form-group row">
          <label for="marcaGato" class="col-sm-2 col-form-label">Marcaje esterilización:</label>
          <div class="col-sm-10">
            <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="marcaGato" placeholder="Colonia en la que vive el gato" [(ngModel)]="datosGato.marcaEsterilizacion" name="marcaEsterilizacion">
          </div>
        </div>
        <div class="form-group row">
          <label for="caracteristicasGato" class="col-sm-2 col-form-label">Características identificativas:</label>
          <div class="col-sm-10">
            <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="caracteristicasGato" placeholder="Colonia en la que vive el gato" [(ngModel)]="datosGato.caracteristicas" name="caracteristicas">
          </div>
        </div>
        <div class="form-group row">
          <label for="nacGato" class="col-sm-2 col-form-label">Fecha nacimiento:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nacGato" placeholder="Colonia en la que vive el gato" [(ngModel)]="datosGato.nacimientoGato" name="nacimientoGato">
          </div>
        </div>
        <div class="form-group row">
          <label for="defGato" class="col-sm-2 col-form-label">Fecha defunción:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="defGato" placeholder="Colonia en la que vive el gato" [(ngModel)]="datosGato.fallecimientoGato" name="fallecimientoGato">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button class="btn btn-primary" (click)="guardarDatosGato(datosGato)">Guardar datos</button>
          </div>
        </div>
      </form>
</div>