<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Inicio
    </a>
  
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="registroGatos();">Registro Gatos</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">Mercadillo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Veterinarios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Campañas</a>
        </li>
      </ul>
    </div>
  </nav>

  